$container-width: 600px;

$basic-font-size: 14px;
$basic-font-stack: "PTSans", Arial, sans-serif;

$color-main: #fff;
$color-title: #384048;
$color-text: #787b80;
$color-btn: #50c3af;
$color-disabled: #d2d5da;
$color-bg-dark: #eeeeef;
$color-bg-light: #f5f5f5;
$color-border: #eaeaeb;
